body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
}

.heading {
    margin-left: 30%;
    margin-right: 30%;
    background-color: gold;
    text-align: center;
    border: 3px solid #9a8b8b;
    border-radius: 10px;
}

.box {
    height: 50px;
    width: 250px;
    margin: 20px;
    border: 2px solid #ccc;
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
}
.box1 {
    box-shadow: 0px -5px 5px -5px #333;
}